<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="styles/3cfb024c.style.css"/>
  <style>
    html, body {
      height: 100%;
      margin: 0px;
      overflow: hidden;
    }
  </style>
</head>
<body ng-app="app" ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.1/json3.min.js"></script>
<![endif]-->

<div fmt-layout="horizontal" style="height: 100%">
  <div fmt-layout="overlay" flex="1">
    <div fmt-player
         skin="cbnews_v1"
         tech-order="flash_html5"
         player-flash="strobe"
         player-swf-base-url="http://media.webtvpp01.flumotion.com/cust/casting//static/player/"
         data-fmt-flex=1 style="bottom: 0px;"></div>

    <div id="social" class="flu-widget social cbnews_v1" ng-init="collapsed = true">
      <div ng-show=!error>
        <div class="table share">
          <div class="row">
            <table class="table collapsed">
              <tr>
                <td class=pod-info>
                  <a class="name" target=_blank ng-href="{{url}}">{{pod.title}}</a>
                  <span class="extra-field">{{fields.marque}}</span>
                  <span class="extra-field" ng-if="fields.pays">-&nbsp;&nbsp;&nbsp;&nbsp;{{fields.pays}}</span>
                </td>
                <td class="actions">
                  <a class=logo target=_blank href="http://www.culturepub.fr"></a>
                  <button class=expand ng-click="collapsed = !collapsed"
                          ng-class="collapsed?'':'disabled'"></button>
                  <button class=like ng-click="like()" ng-disabled=likeDisabled>{{pod.total_rates}}</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div ng-hide="collapsed">
          <div class="table social">
            <div class="row url">
              <div class="cell icon"></div>
              <div class="cell value embed">
                <input type=text readonly=readonly value="{{sharingUrl}}">
              </div>
              <div class="cell action">
                <div class="social"
                     fmt-addthis
                     use-preferred="false"
                     buttons="facebook,twitter,google_plusone_share"></div>
              </div>
            </div>
          </div>
          <div class="table iframe">
            <div class="row iframe">
              <div class="cell icon"></div>
              <div class="cell value">
                <input class="auto" type=text readonly=readonly value="{{sharingIframe}}">
              </div>
            </div>
          </div>
          <div class="close">
            <span class="closeButton" ng-click="collapsed = true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fmt-playlist class="fmt-w playlist cbnews_v1"
       content="{{content}}"
       auto-advance-enabled="true"
       columns="2"
       data-fmt-flex="340px"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
<script src="scripts/93a0b431.script.js"></script>

</body>
</html>
